@import "tailwindcss";
/* Asosiy stil */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}

.header, .footer {
  background: #fff;
  color: #000;
  padding: 15px;
}

.sidebar {
  width: 270px;
  background: #f4f4f4;
  padding: 10px;
}